CREATE DATABASE FinalProject
GO
USE [FinalProject]
GO
/****** Object:  Table [dbo].[REGISTERING]    Script Date: 2/23/2022 9:52:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTERING](
	[STUDENT_ID] [varchar](10) NOT NULL,
	[SUBJECT_ID] [varchar](8) NOT NULL,
	[REGISTER_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_REGISTERING] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC,
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2/23/2022 9:52:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENTID] [varchar](10) NOT NULL,
	[CCCD] [varchar](50) NOT NULL,
	[FULLNAME] [nvarchar](50) NOT NULL,
	[DATEOFBIRTH] [varchar](10) NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PHONENUMBER] [varchar](10) NOT NULL,
	[CLASS] [nvarchar](50) NOT NULL,
	[MAJOR] [nvarchar](50) NOT NULL,
	[SCHOOLYEAR] [varchar](9) NOT NULL,
 CONSTRAINT [PK_STUDENT_1] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 2/23/2022 9:52:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[ID] [varchar](8) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[NUMOFLESSONS] [int] NOT NULL,
	[KIND] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[REGISTERING] ([STUDENT_ID], [SUBJECT_ID], [REGISTER_DATE]) VALUES (N'N19DCAT001', N'100000', CAST(N'2022-02-23T09:09:17.217' AS DateTime))
INSERT [dbo].[REGISTERING] ([STUDENT_ID], [SUBJECT_ID], [REGISTER_DATE]) VALUES (N'N19DCAT001', N'INT12345', CAST(N'2022-02-22T16:40:10.750' AS DateTime))
INSERT [dbo].[REGISTERING] ([STUDENT_ID], [SUBJECT_ID], [REGISTER_DATE]) VALUES (N'N19DCAT001', N'INT22222', CAST(N'2022-02-23T09:15:11.307' AS DateTime))
GO
INSERT [dbo].[STUDENT] ([STUDENTID], [CCCD], [FULLNAME], [DATEOFBIRTH], [ADDRESS], [EMAIL], [PHONENUMBER], [CLASS], [MAJOR], [SCHOOLYEAR]) VALUES (N'N19DCAT001', N'1234567891', N'Nguyễn Văn A', N'25/12/2001', N'Quang Trung', N'abc@gmail.com', N'0973620802', N'oooo', N'Công nghệ thông tin', N'2021-2026')
INSERT [dbo].[STUDENT] ([STUDENTID], [CCCD], [FULLNAME], [DATEOFBIRTH], [ADDRESS], [EMAIL], [PHONENUMBER], [CLASS], [MAJOR], [SCHOOLYEAR]) VALUES (N'N19DCAT055', N'0260512855', N'Nguyễn Đình Khôi Nguyên', N'19/04/2001', N'Hoàng Hoa Thám', N'khoinguyen1942001@gmail.com', N'0333232451', N'kkkk', N'Điện tử', N'2019-2025')
INSERT [dbo].[STUDENT] ([STUDENTID], [CCCD], [FULLNAME], [DATEOFBIRTH], [ADDRESS], [EMAIL], [PHONENUMBER], [CLASS], [MAJOR], [SCHOOLYEAR]) VALUES (N'N19DCCN123', N'9876543210', N'Nguyễn Thị C', N'19/05/2005', N'Cộng Hòa', N'xyz@gmail.com', N'0123456789', N'uuuuu', N'Viễn thông', N'2022-2028')
GO
INSERT [dbo].[SUBJECT] ([ID], [NAME], [NUMOFLESSONS], [KIND]) VALUES (N'100000', N'Java', 50, N'Cơ sở ngành')
INSERT [dbo].[SUBJECT] ([ID], [NAME], [NUMOFLESSONS], [KIND]) VALUES (N'INT12345', N'Lập trình mạng', 30, N'Chuyên ngành bắt buộc')
INSERT [dbo].[SUBJECT] ([ID], [NAME], [NUMOFLESSONS], [KIND]) VALUES (N'INT19401', N'Toán Cao Cấp', 52, N'Đại cương')
GO
ALTER TABLE [dbo].[REGISTERING]  WITH CHECK ADD  CONSTRAINT [FK_REGISTERING_STUDENT] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENT] ([STUDENTID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[REGISTERING] CHECK CONSTRAINT [FK_REGISTERING_STUDENT]
GO
ALTER TABLE [dbo].[REGISTERING]  WITH CHECK ADD  CONSTRAINT [FK_REGISTERING_SUBJECT] FOREIGN KEY([SUBJECT_ID])
REFERENCES [dbo].[SUBJECT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[REGISTERING] CHECK CONSTRAINT [FK_REGISTERING_SUBJECT]
GO
USE [master]
GO
